<!DOCTYPE html>
<html>
<head>
  <title>Calc - It!</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/basic_calc">Basic Calc</a></li>
      <li><a href="/advanced_calc">Advanced Calc</a></li>
    </ul>
  </nav>

  <%= yield %>

  <p class="blue">im blue blalalllaa</p>

</body>
</html>