<h1><%= @title %></h1>

 <!-- The Calculate funciton -->

<form action="/calculate" method="post">
  <input type="text" name="word" autofocus>
  <button>Calculate</button>
</form>

  <p> <%= @basic_clac %> </p>